In [1]:
import os
from datetime import date, datetime

import pandas as pd
import pyspark
import pyspark.sql
import pyspark.sql.dataframe
from pyspark.conf import *
from pyspark.context import *
from pyspark.sql import *
from pyspark.sql import functions as F

# from pyspark.sql.avro.functions import *
from pyspark.sql.catalog import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.storagelevel import *

os.environ["PYSPARK_PYTHON"] = "C:\\Users\\jmb\\.conda\\envs\\snake37Spark321\\python"
os.environ["PYSPARK_DRIVER_PYTHON"] = "C:\\Users\\jmb\\.conda\\envs\\snake37Spark321\\python"

SUBMIT_ARGS = "--packages org.apache.spark:spark-avro_2.12:3.2.1 pyspark-shell"
os.environ["PYSPARK_SUBMIT_ARGS"] = SUBMIT_ARGS


spark = (
    SparkSession.builder.master("local")
    .appName("Search")
    .config(
        "spark.jars.package",
        "org.apache.spark:spark-avro_2.12:3.2.1,org.apache.spark:spark-sql-kafka-0-10_2.12.12:3.2.1",
    )
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer")
    .config(conf=SparkConf())
    .getOrCreate()
)

In [3]:
spark.sparkContext.getConf().getAll()
spark._jsc.sc().uiWebUrl().get()

'http://DESKTOP-OVJ9BOU:4040'

In [2]:
df = spark.createDataFrame(
    [
        (
            1,
            2.0,
            "string1",
            date(2000, 1, 1),
            datetime(2000, 1, 1, 12, 0),
            "2022-04-12 19:15:34.0",
        ),
        (
            2,
            3.0,
            "string2",
            date(2000, 2, 1),
            datetime(2000, 1, 2, 12, 0),
            "2022-04-12 19:15:34.0",
        ),
        (
            3,
            4.0,
            "string3",
            date(2000, 3, 1),
            datetime(2000, 1, 3, 12, 0),
            "2022-04-12 19:15:34.0",
        ),
    ],
    schema="a long, b double, c string, d date, e timestamp, meta_oracle_cdc_precisiontimestamp string",
)
df_t0 = df.sort(*df.columns)
_ = df_t0.createOrReplaceTempView("cc_activity_vw")
df_tt = spark.sql("select  *  from cc_activity_vw")
df_tt.show(truncate=False)

+---+---+-------+----------+-------------------+----------------------------------+
|a  |b  |c      |d         |e                  |meta_oracle_cdc_precisiontimestamp|
+---+---+-------+----------+-------------------+----------------------------------+
|1  |2.0|string1|2000-01-01|2000-01-01 12:00:00|2022-04-12 19:15:34.0             |
|2  |3.0|string2|2000-02-01|2000-01-02 12:00:00|2022-04-12 19:15:34.0             |
|3  |4.0|string3|2000-03-01|2000-01-03 12:00:00|2022-04-12 19:15:34.0             |
+---+---+-------+----------+-------------------+----------------------------------+

In [3]:
df_tt.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)
 |-- meta_oracle_cdc_precisiontimestamp: string (nullable = true)